In [41]:
from datetime import datetime, timedelta
import pandas as pd
import numpy as np
from pathlib import Path

In [111]:
# Read data csv file
file = Path('/Users/CollinHeist/Downloads/Media - Data CSVs.csv/')

# Parse as DF object
df = pd.read_csv(
    file,
    header=None,                                       # No header row 
    names=['Date', 'Start Time', 'End Time', 'Title'], # Column titles
    na_values='-',                                     # Value "-" is converted to NA
    usecols=list(range(4)),                            # Use first four columns
)

# Forward-fill the dates
df['Date'] = pd.to_datetime(df['Date']).ffill(axis=0)

# Convert time to datetime objects with times + date
def row_to_datetime(row: dict, time_key: str) -> datetime:
    """
    Convert a row of a DF to a single combined Datetime object. This adds
    the row's 'Date' value to row's value from `time_key`. If this operation
    fails, 0.0 is returned instead.
    """
    
    try:
        return row['Date'] + timedelta(minutes=float(row[time_key]) * 60 * 24)
    except:
        return row['Date']

df['Start Time'] = df.apply(lambda row: row_to_datetime(row, 'Start Time'), axis=1)
df['End Time'] = df.apply(lambda row: row_to_datetime(row, 'End Time'), axis=1)

In [112]:
np.sum(df['End Time'] - df['Start Time'])

Timedelta('135 days 10:54:52.992000')

In [115]:
df[df['Title'] == 'The Office']

           Date              Start Time                End Time       Title
11   2015-10-28 2015-10-28 15:15:59.904 2015-10-28 15:58:00.192  The Office
12   2015-10-28 2015-10-28 15:58:00.192 2015-10-28 16:39:59.616  The Office
13   2015-10-28 2015-10-28 16:41:59.712 2015-10-28 17:24:00.000  The Office
20   2015-10-30 2015-10-30 17:55:00.192 2015-10-30 18:36:59.616  The Office
21   2015-10-30 2015-10-30 18:36:59.616 2015-10-30 19:18:59.904  The Office
24   2015-10-30 2015-10-30 20:48:00.288 2015-10-30 21:09:00.000  The Office
25   2015-10-30 2015-10-30 21:09:00.000 2015-10-30 21:31:00.192  The Office
26   2015-10-30 2015-10-30 21:31:00.192 2015-10-30 21:53:00.384  The Office
34   2015-11-02 2015-11-02 21:49:00.192 2015-11-02 22:11:00.384  The Office
35   2015-11-02 2015-11-02 22:21:00.000 2015-11-02 22:43:00.192  The Office
36   2015-11-03 2015-11-03 15:56:59.712 2015-11-03 16:18:59.904  The Office
37   2015-11-03 2015-11-03 16:18:00.288 2015-11-03 16:39:59.616  The Office
38   2015-11-03 2015-11-03 16:39:59.616 2015-11-03 16:59:59.712  The Office
39   2015-11-03 2015-11-03 17:06:59.616 2015-11-03 17:48:59.904  The Office
41   2015-11-04 2015-11-04 16:12:59.616 2015-11-04 16:34:59.808  The Office
42   2015-11-04 2015-11-04 16:36:00.288 2015-11-04 16:57:59.616  The Office
43   2015-11-04 2015-11-04 16:57:59.616 2015-11-04 17:19:59.808  The Office
52   2015-11-08 2015-11-08 23:30:59.904 2015-11-08 23:53:00.096  The Office
55   2015-11-10 2015-11-10 16:23:00.096 2015-11-10 16:45:00.288  The Office
56   2015-11-10 2015-11-10 16:47:00.384 2015-11-10 17:08:59.712  The Office
57   2015-11-10 2015-11-10 17:08:00.096 2015-11-10 17:30:00.288  The Office
58   2015-11-10 2015-11-10 18:18:00.000 2015-11-10 18:40:00.192  The Office
59   2015-11-11 2015-11-11 16:34:59.808 2015-11-11 16:57:00.000  The Office
60   2015-11-11 2015-11-11 16:57:59.616 2015-11-11 17:19:59.808  The Office
61   2015-11-11 2015-11-11 17:23:00.384 2015-11-11 17:44:59.712  The Office
62   2015-11-11 2015-11-11 17:51:59.616 2015-11-11 18:13:59.808  The Office
63   2015-11-11 2015-11-11 18:27:59.616 2015-11-11 18:49:59.808  The Office
65   2015-11-11 2015-11-11 19:36:59.904 2015-11-11 19:59:00.096  The Office
66   2015-11-11 2015-11-11 19:57:59.616 2015-11-11 20:19:59.808  The Office
67   2015-11-11 2015-11-11 20:23:00.384 2015-11-11 20:44:59.712  The Office
...         ...                     ...                     ...         ...
3756 2019-01-26 2019-01-26 00:02:00.096 2019-01-26 00:24:00.288  The Office
3758 2019-01-27 2019-01-27 00:20:59.712 2019-01-27 00:42:00.288  The Office
3760 2019-01-27 2019-01-27 12:00:00.000 2019-01-27 12:22:00.192  The Office
3763 2019-01-27 2019-01-27 22:48:00.000 2019-01-27 23:10:00.192  The Office
3764 2019-01-27 2019-01-27 23:08:59.712 2019-01-27 23:30:59.904  The Office
3766 2019-01-28 2019-01-28 22:45:00.288 2019-01-28 23:06:59.616  The Office
3767 2019-01-29 2019-01-29 22:05:00.096 2019-01-29 22:27:00.288  The Office
3768 2019-01-29 2019-01-29 22:25:59.808 2019-01-29 22:47:00.384  The Office
3769 2019-01-29 2019-01-29 23:03:00.288 2019-01-29 23:44:59.712  The Office
3770 2019-01-30 2019-01-29 23:44:59.712 2019-01-30 00:06:59.904  The Office
3772 2019-01-31 2019-01-31 10:16:00.192 2019-01-31 10:38:00.384  The Office
3773 2019-01-31 2019-01-31 22:38:00.384 2019-01-31 22:59:59.712  The Office
3774 2019-01-31 2019-01-31 23:14:00.384 2019-01-31 23:35:59.712  The Office
3777 2019-02-03 2019-02-03 23:26:00.096 2019-02-03 23:48:00.288  The Office
3838 2019-02-18 2019-02-18 00:09:59.616 2019-02-18 00:31:59.808  The Office
3841 2019-02-19 2019-02-19 10:48:59.616 2019-02-19 11:10:59.808  The Office
3846 2019-02-20 2019-02-20 23:15:59.616 2019-02-20 23:37:59.808  The Office
3847 2019-02-20 2019-02-20 23:37:59.808 2019-02-20 23:59:00.384  The Office
3850 2019-02-21 2019-02-21 22:54:00.288 2019-02-21 23:15:59.616  The Office
3851 2019-02-22 2019-02-22 11:06:00.000 2019-02-22 11:28:00.192  The Office
3853 2019-02-22 2019-02-22 21:04:59.808 2019-02-22 21:27:00.000  The Office
4327 2019-07-05 2019-07-05 17:12:00.288 2019-07-05 17:33:00.000  The Office
4353 2019-07-09 2019-07-09 20:33:00.000 2019-07-09 20:53:59.712  The Office
4366 2019-07-11 2019-07-11 20:21:00.288 2019-07-11 20:42:59.616  The Office
4385 2019-07-14 2019-07-14 19:32:00.096 2019-07-14 19:52:59.808  The Office
4396 2019-07-15 2019-07-15 19:25:00.192 2019-07-15 19:47:00.384  The Office
4418 2019-07-21 2019-07-21 18:51:00.288 2019-07-21 19:12:59.616  The Office
4439 2019-07-27 2019-07-27 17:32:00.384 2019-07-27 17:53:59.712  The Office
5182 2020-03-03 2020-03-03 20:51:59.616 2020-03-03 21:13:00.192  The Office
5183 2020-03-03 2020-03-03 21:13:00.192 2020-03-03 21:35:00.384  The Office

[622 rows x 4 columns]